@model Books.Models.BookListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model.GroupedBooks)
{
    <a href="#@item.Key">@item.Key | </a>
}

@foreach (var item in Model.GroupedBooks)
{
    <h2 id="@item.Key">@item.Key</h2>

    foreach (var subItem in item.ToList())
    {
        <div>
            @Html.ActionLink(subItem.Title, "Details", new { id = subItem.Id })
        </div>
    }
}
