@model Books.Models.BookListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p class="letters">
    @foreach (var letter in Model.Letters)
    {
        if (Model.GroupedBooks.Any(books => books.Key == letter))
        {
            <a href="#@letter">@letter</a>
        }
        else
        {
            <span>@letter</span>
        }
    }
</p>

@foreach (var item in Model.GroupedBooks)
{
    <h2 id="@item.Key">@item.Key</h2>

    foreach (var subItem in item.ToList())
    {
        <div>
            @Html.ActionLink(subItem.Title, "Details", new { id = subItem.Id })
        </div>
    }
}
